streamlit
streamlit-mic-recorder
streamlit-google-auth
langchain-google-genai
langchain-community
chromadb
pypdf
chromadb
langchain-chroma
langchain-google-genai
pysqlite3-binary
PyPDF2
chromadb
langchain-chroma
langchain-google-genai
pysqlite3-binary
langchain-google-genai
streamlit-mic-recorder
streamlit-google-auth


